* {
    box-sizing: border-box;
}

.container-bg {
    background-image: url('../images/pexels-lukas-1420701.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.landing-heading {
    padding-top: 350px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.landing-text {
    padding-top: 40px;
    padding-bottom: 50px;
}

.landing-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 24ch;
  animation: typing 2.3s steps(14), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.btn {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.btn:hover {
    background-color: black;
    color: white;
}

.footer-text {
    font-family: 'Times New Roman', Times, serif;
}

.contactHeading, .aboutHeading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contactHeading {
    width: 7ch;
  animation: typing 1.5s steps(14), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
}

.form-label, .form-control {
    font-family: 'Times New Roman', Times, serif;
}

.form-control {
    box-shadow: 5px 5px black;
    border-top: 2px solid white;
    border-left: 2px solid white;
    background-color: transparent;
    text-align: center;
    width: 800px;
}

.form-container {
    padding: 5px;
    display: flex;
    justify-content: center;
}

#bg-container {
    background-image: url(../images/joel-filipe-VuwAfoHpxgs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.img-fluid {
    height: 450px;
    width: 380px;
    border-radius: 100px;
}

.aboutHeading {
    width: 12ch;
    animation: typing 1.5s steps(14), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
}
body {
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    color: black;
}

.progress-bar {
    background-color: white;
}
.progress-bar-animated {
    background-color: black;
    color: white;
}

.dark-side {
    background-color: black !important;
}

.project-heading {
    width: 7ch;
    animation: typing 1.5s steps(14), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
}